body {
  margin: 0px;
  overflow-x: hidden;
}

.main {
  min-height: 99vh;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.main-n {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-image: url("../images/back.png");
  background-size: 100% 100%;
  background-position: center center;
}

.logo {
  position: absolute;
  top: 10px;
  left: 12px;
  height: 100px;
  min-width: 220px;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-top: 20px;
  align-items: center;
  color: #00c853;
  font-size: 40px;
  border-left: 5px solid #00c853;
}

.black-row {
  width: 100%;
  height: 150px;
  margin-bottom: 70px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.l {
  width: 50%;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-m {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hr {
  position: absolute;
  right: 0px;
  top: 17%;
  width: 1px;
  height: 100px;
  background-color: white;
}

.r {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.r-m {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.ssp-200 {
  font-family: "Source Sans Pro", sans-serif !important;
  font-weight: 200 !important;
}

.ssp-300 {
  font-family: "Source Sans Pro", sans-serif !important;
  font-weight: 300 !important;
}

.ssp-400 {
  font-family: "Source Sans Pro", sans-serif !important;
  font-weight: 400 !important;
}

.ssp-600 {
  font-family: "Source Sans Pro", sans-serif !important;
  font-weight: 600 !important;
}

.ssp-700 {
  font-family: "Source Sans Pro", sans-serif !important;
  font-weight: 700 !important;
}

.ssp-900 {
  font-family: "Source Sans Pro", sans-serif !important;
  font-weight: 900 !important;
}

.left-side {
  width: 59%;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right-side {
  width: 40%;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.phone-input {
  height: 40px;
  width: 250px;
  padding-left: 10px;
  font-size: 22px;
  border: 1px solid #e0e0e0;
  border-right: 0px;
}

.phone-input:focus {
  outline: none;
}

.phone-input-signup {
  height: 35px;
  width: 250px;
  padding-left: 10px;
  font-size: 22px;
  border: 1px solid #e0e0e0;
  margin-top: 15px;
}

.phone-input-signup:focus {
  outline: none;
}

.phone-input-signup::placeholder {
  color: #e0e0e0;
  font-size: 20px;
}

.hide {
  transition: 0.7s;
  display: none !important;
}

.inp {
  display: flex;
  justify-content: center;
  align-items: space-around;
}

.inp-signup {
  display: flex;
  justify-content: center;
  align-items: space-around;
  margin: 30px;
  margin-top: 50px;
  margin-left: -30px;
  flex-direction: column;
}
.sub {
  height: 40px;
  width: 40px;
  margin-bottom: 1.5px;
  border: 0px;
  background-color: #00c853;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-left: 0px;
}

.sub-signup {
  height: 39px;
  width: 262px;
  margin-top: 40px;
  margin-bottom: 1.5px;
  border: 0px;
  background-color: #00c853;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-left: 0px;
  transition: all 0.3s ease-in-out;
}

.sub-signup:hover {
  cursor: pointer;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.18);
}

.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 280px;
  border-left: 2px solid #00c853;
  padding-left: 20px;
}

.form-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 280px;
  border-left: 2px solid #00c853;
  padding-left: 20px;
}

.link-default {
  text-decoration: none;
  outline: none;
  color: white;
}

.nav {
  position: absolute;
  right: 20px;
  top: 15px;
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* about page */

.about {
  min-height: 80vh;
  width: 60%;
  margin-top: 50px;
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

/* team page */

.about-team {
  min-height: 80vh;
  width: 80%;
  margin-top: 50px;
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.team-photos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  min-height: 300px;
  width: 100%;
  padding: 10px;
  padding-left: 60px;
}

.card-wrapper {
  width: 170px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  margin: 20px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.card {
  height: 200px;
  width: 150px;
}

.card-info {
  width: 150px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  color: white;
  font-size: 45px;
  margin-bottom: 10px;
}

.h2 {
  color: white;
  font-size: 25px;
}
@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  .main-n {
    background-position: center center;
  }

  .nav {
    width: 180px;
    font-size: 15px;
  }

  .logo {
    font-size: 20px;
    height: 30px;
    left: 7px;
  }

  .logo-img {
    height: 50px;
    margin-left: -100px;
    margin-top: -15px;
  }

  .left-side {
    width: 100%;
    height: 30vh;
  }

  .right-side {
    width: 100%;
  }

  .form-box {
    padding-right: 10px;
  }

  .vol-doc {
    margin-left: 0px;
  }

  .about {
    width: 90%;
    padding-left: 15px;
    line-height: 35px;
  }

  .about-team {
    width: 100vw;
  }

  .team-photos {
    justify-content: center;
    flex-direction: column;
    width: auto;
    padding: 0px;
  }

  .card-wrapper {
    height: 300px;
    width: 200px;
    padding-top: 20px;
  }

  .card {
    height: 220px;
    width: 170px;
  }

  .img-mob {
    height: 220px;
    width: 170px;
  }

  .black-row {
    height: 180px;
    flex-direction: column;
    margin-bottom: 120px;
  }

  .hr {
    display: none;
  }

  .h1 {
    font-size: 25px;
  }

  .h2 {
    font-size: 17px;
  }

  .l,
  .r {
    width: 100%;
  }

  .l-m,
  .r-m {
    width: 100%;
    padding-left: 30px;
  }
}

/* list styless */

.list nav .img {
  height: 80px;
  width: 80px;
  border: 1px solid rgb(41, 41, 41);
  border-radius: 50%;
}

.list .nav-form {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-file {
  text-align: left;
}

.list-display-down {
  padding-left: 200px;
  margin-left: 10px;
  margin-top: 10px;
  border-top: 1px solid #717171;
  padding-top: 20px;
}

#additem {
  margin-top: 10px;
  background: transparent;
  padding: 20px;
  border: 1px solid #f1f1f1;
  border-radius: 0px;
}

.list .add-new {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list .add-new button {
  box-shadow: 0px 2px 10px #717171;
}

.form-btn {
  margin-top: 20px;
  width: 40%;
  text-align: left;
}

.list .main-list {
  height: 100%;
  width: 50%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.7s;
}

.center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.list-items:hover {
  transform: scale(1.01);
  cursor: pointer;
  box-shadow: 0px 5px 19px #e2e2e2;
  background: #fcfcfc;
}

.list-items {
  width: 100%;
  height: 100%;
  min-height: 150px;
  background: #f0f0f0;
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.list-items .list-display {
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 12px;
  padding-left: 10px;
}

.list-display p {
  width: 100%;
  word-break: break-all;
  text-align: left;
}

.new-item {
  text-align: right;
}

.add-btn {
  border: none;
  border-radius: 0 !important;
  box-shadow: 0px 9px 19px rgb(170, 170, 170) !important;
}

.add-btn:hover {
  box-shadow: 0px 3px 19px rgb(170, 170, 170) !important;
}

.loading {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading .loading__ball {
  height: 100px;
  width: 100px;
  border: 2px dotted lightblue;
  border-radius: 50%;
  transition: 1s;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .list .main-list {
    width: 100%;
  }
  .form-btn {
    width: 100%;
  }
}

.button-disabled {
  background-color: #6be99f !important;
  pointer-events: none;
}
