<div class="main">
    <div class="logo ssp-400" ><a ng-href="#/"><img src="images/logo.png" class="logo-img"></a></div>
    <div class="nav">
        <a ng-href="#/about" class="ssp-600 link-default" style="font-size: 18px;color: #445a64;">About Us</a>
       <!-- <a href="#/team" class="ssp-600 link-default" style="font-size: 18px;color: #445a64;">Team</a>-->
    </div>
    <div class="about">
        <p class="ssp-200" style="font-size: 50px; color: #445a64;">About Us</p>
        <p class="ssp-300" style="font-size: 20px; line-height: 40px;">
            Kerala is being ravaged by unprecedented torrential rains leading to an extremely grave situation of flood spread across 14 districts. More than 2 lakh people have been displaced with a death-toll of 324. Doctors in the state have already started working double-shifts. As per WHO, the aftermath of floods usually see an increase in water-borne and vector-borne diseases. An estimated 4 lakh patients would require medical consultations in the next few weeks. To assist with this exponential demand, we have set up this basic website where patients can seek free medical advice. Thousands of doctors from across the world have signed up to devote their time pro-bono as Kerala get backs on its feet.
        </p>
    </div>
</div>
