<div class="list">
  <div class="container-fluid align-center">
    <nav class="navbar navbar-light bg-dark">
      <a class="navbar-brand" ng-href="#/">
        <img src="images/logo.png" width="200px" class="d-inline-block align-top" alt="">
      </a>
      <div class="nav-form inline-form">
        <button class="btn btn-outline-secondary" ng-click="logout()">
          Log out
        </button>
      </div>
  </div>
  </nav>

  <!-- button starting here -->
  <div class="container form-btn">
    <!-- button  -->
    <div class="conatiner add-new hide">
      <button class="btn btn-secondary bnt-lg">
        Add Item
      </button>
    </div>
    <div class="new-item">
      <button class="btn btn-secondary btn-lg add-btn" ng-click="open()" data-toggle="collapse" data-target="#additem" aria-expanded="false"
        aria-controls="additem" id="btn">Create case
      </button>
      <div class="collapse" ng-class="hif ? 'hide':'collapse'" id="additem">
        <form>
          <div class="form-group">
            <textarea class="form-control" ng-model="message" name="message" cols="30" rows="3" placeholder="Enter your message here"></textarea>
          </div>
          <div class="custom-file form-group">
            <input type="file" file-model='file' class="custom-file-input " id="customFile">
            <label class="custom-file-label" for="customFile">Upload Image</label>
          </div>
          <div class="form-group mt-2" ng-if="creatingcase">
            <div class="progress">
              <div class="progress-bar" role="progressbar" id="progress" ng-style="progressStyle" aria-valuenow="25 " aria-valuemin="0"
                aria-valuemax="100 ">
                {{createCaseProgress}} %
              </div>
            </div>
          </div>
          <div class="form-group mt-2 " ng-style="hideFile">
            <div class="alert alert-danger"  style="text-align:left;" role="alert ">
              {{ errorText }}
            </div>
          </div>
          <div class="form-group mt-2 ">
            <button ng-click="createcase()" class="btn btn-secondary add-btn "><span ng-if="creatingcase">Creating ..</span><span ng-if="!creatingcase">Create</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>



  <div class="container center ">
    <div class="main-list ">
      <div ng-repeat="x in cases " class="list-items ">
        <div class="list-img ">
          <img src="{{ x.thumbnail }} " ng-if="x.thumbnail!=null " class="list-img " width="100 " alt="Case Images ">
          <img src="images/placeholder.png " ng-if="x.thumbnail==null " width="100 " class="list-img " alt="Case Image ">
        </div>
        <div class="list-display ">
          <p>{{ x.message }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="loading " ng-style="loading">
    <div class="loading__ball ">
    </div>
  </div>
</div>
</div>

<script>

</script>