<div class="main-n">
  <div class="logo ssp-400">
    <a ng-href="#/">
      <img src="images/logo.png" class="logo-img">
    </a>
  </div>
  <div class="nav">
    <a ng-href="#/about" class="ssp-600 link-default" style="font-size: 18px;">About Us</a>
    <!--<a href="#/team" class="ssp-600 link-default" style="font-size: 18px;">Team</a>-->
  </div>
  <div class="black-row">
    <div class="l">
      <div class="hr"></div>
      <div class="l-m" style="margin-bottom: 20px;">
        <div class="ssp-300 h1">Need medical advice?</div>
        <div class="ssp-300 h2">Connect with a doctor free of cost</div>
      </div>
    </div>
    <div class="r">
      <div class="r-m">
        <div class="inp inp-phone" ng-class="validcontact ? 'hide' : ''" >
          <input type="text" ng-model="contact" name="contact" class="phone-input ssp-400" placeholder="Enter phone no ." >
          <button class="sub ssp-400" ng-class="requested ? 'button-disabled' : ''" style="font-size: 16px;" ng-click="checkUser();" >
            <i class="fas fa-arrow-right" ></i>
          </button>
        </div>
        <div class="inp inp-pass" ng-class="!validcontact ? 'hide' : ''" >
          <input type="password" ng-model="password" name="password" class="phone-input ssp-400" placeholder="Enter password ..">
          <button class="sub ssp-400" ng-class="requested ? 'button-disabled' : ''" style="font-size: 16px;" ng-click="loginUser();">
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
        <div style="color:red;">
          {{ error }}
        </div>
        <div style="margin-top: 15px;">
          <span class="ssp-400 vol-doc" style="color: white; margin-top: 30px; margin-bottom: 20px;">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeGYscVzc51YRYYJaGQRgZYvruJ_sDXj3Ttwq8Ruh0YKXYhxw/viewform" class="link-default" >Are you a doctor?</a> |
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScoMEgyG5gFA-iEQrFBonx26sBxuXXvcdV3jFoG1sXJT7Funw/viewform" class="link-default">Are you a volunteer?</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form ng-submit="register();">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ng-model="user_name" name="user_name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label for="phoneno">Phone No</label>
            <input type="text" class="form-control" ng-model="user_contact" name="user_contact" id="phoneno" placeholder="Phone No">
          </div>
          <div class="form-group">
            <label for="pincode">Pin code</label>
            <input type="text" class="form-control" ng-model="user_pincode" name="user_pincode" id="pincode" placeholder="Enter Pin code">
          </div>
          <div
                  vc-recaptcha
                  theme="'light'"
                  key="model.key"
                  on-create="setWidgetId(widgetId)"
                  on-success="setResponse(response)"
                  on-expire="cbExpiration()"
                  ></div>
          <div class="form-group" ng-if="user_error!=''" style="color:red;">
            {{ user_error }}
            </div>
          <button type="submit" class="btn btn-secondary" ng-class="{'button-disabled': user_requested}" > Submit </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>

