 <link rel="stylesheet" type="text/css" href="./css/signup.css">
 <style type="text/css">

 	.container {
 		font-weight: 400;
 	}

 	.new-dropdown {
 		min-width: 85%;
 		border: 0;
 		border-bottom: 1px solid grey;
 		font-size: 17px;
 		display: flex;
 		align-items: center;
 		margin-left: -4px;
 		padding: 0 
 	}

 	.new-dropdown:focus {
 		outline: none;
 	}

 	.dropdown-menu {
 		min-width: 100%;
 	}

 	.head {
 		display: flex;
 		justify-content: center;
 		margin-top: 50px;
 		font-weight: thin;
 	}

  .password-validation {
    height: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0;
    font-size: 14px;
    visibility: hidden;
    transition: all 250ms ease-in;
    padding-top: 25px;
    background-color: #f9f9f9;
    margin-bottom: -30px;
  }

  /* valid class for password validation */

  .password-validation li.valid {
    color: #43a047;
  }

  .pass1:focus + .password-validation{
    animation: appear 300ms ease-in-out 1 forwards;
    transition: all 250ms ease-in;
    margin-bottom: 0;
  }



  @keyframes appear {
    0% {
      height: 0;
      visibility: hidden;
      opacity: 0;
    }

    80% {
      opacity: 0;
    }

    100% {
      height: 150px;
      visibility: visible;
      opacity: 1;
    }
  }

  .visualai-signup-msg {
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px;
    box-shadow:  0 2px 5px 0 rgba(0, 0, 0, .16);
    font-family: 'Lato',sans-serif;
}

.vai-signup-head {
    font-family: 'Lato',sans-serif;
    font-weight: 700;
    color: #444;
    font-size: 25px; 
    margin-bottom: 7px !important;  
}

.vai-bar {
    width: 98%;
    height: 1px;
    background-color: #eeeeee;
    margin-bottom: 17px;
}

.password-validation ul{
  list-style-type: none; 
}

input {
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: -0.28px;
}

.op-s {
font-family: 'Open Sans',sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.2px; 
}

 </style>

 <div class="container p-y-2 p-y-3">
  <div class="row" ng-show="!registerationsuccess">
  	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 head">
  		<h2>Sign up for your account</h2>
  	</div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 center-block">
      <form id="signup-form" style="margin-top: 40px;" ng-submit="register();" autocomplete="off" ng-show="!registerationsuccess">
        <div class="card-panel p-x-3-md p-t-3-md p-b-2">
          <div class="row">
            <div class="col-xs-6">
              <div class="input-field">
                <input type="text" placeholder="First Name *" ng-model="fname" name="fname" required >
              </div>
            </div>
            <div class="col-xs-6">  
              <div class="input-field">
                <input ng-model="lname" name="lname" type="text" placeholder="Last Name *" required>
              </div>
            </div>
          </div>
      
          <div class="input-field">
            <input type="email" ng-model="email" name="email" placeholder="Business Email *" required>
          </div>
          
    		  <div class="dropdown input-field" style="margin-bottom: 30px;">
            <select class="new-dropdown op-s" ng-model="industryname" name="industryname" >
              <span style="position: absolute; right: 10px; top: 5px;"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
              <option value="" disabled selected>Select your industry...</option>
              <option value="agriculture">Agriculture</option>
              <option value="construction">Construction</option>
              <option value="drone service">Drone Service Provider</option>
              <option value="education">Education</option>
              <option value="emergency">Emergency Response</option>
              <option value="enthusiast">Enthusiast / Hobby</option>
              <option value="forestry">Forestry</option>
              <option value="inspection">Inspection / Insurance</option>
              <option value="mining">Mining</option>
              <option value="oil and gas">Oil &amp; Gas</option>
              <option value="real estate">Real Estate</option>
              <option value="surveying">Surveying / Mapping</option>
              <option value="other">Other</option>
           </select>
    		  </div>

          <div class="input-field">
            <input type="text" ng-model="companyname" name="companyname" placeholder="Organization *" required >
          </div>
     
          <div class="dropdown input-field">
            <select class="new-dropdown op-s" ng-model="timezone" name="timezone" >
              <span style="position: absolute; right: 10px; top: 5px;"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
              <option value="" disabled selected>Select your timezone...</option>
              <option value="57" gmtAdjustment="GMT+05:30" useDaylightTime="0" >(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
              <option value="1" gmtAdjustment="GMT-12:00" useDaylightTime="0" >(GMT-12:00) International Date Line West</option>
              <option value="2" gmtAdjustment="GMT-11:00" useDaylightTime="0" >(GMT-11:00) Midway Island, Samoa</option>
              <option value="3" gmtAdjustment="GMT-10:00" useDaylightTime="0" >(GMT-10:00) Hawaii</option>
              <option value="4" gmtAdjustment="GMT-09:00" useDaylightTime="1" >(GMT-09:00) Alaska</option>
              <option value="5" gmtAdjustment="GMT-08:00" useDaylightTime="1" >(GMT-08:00) Pacific Time (US & Canada)</option>
              <option value="6" gmtAdjustment="GMT-08:00" useDaylightTime="1" >(GMT-08:00) Tijuana, Baja California</option>
              <option value="7" gmtAdjustment="GMT-07:00" useDaylightTime="0" >(GMT-07:00) Arizona</option>
              <option value="8" gmtAdjustment="GMT-07:00" useDaylightTime="1" >(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
              <option value="9" gmtAdjustment="GMT-07:00" useDaylightTime="1" >(GMT-07:00) Mountain Time (US & Canada)</option>
              <option value="10" gmtAdjustment="GMT-06:00" useDaylightTime="0" >(GMT-06:00) Central America</option>
              <option value="11" gmtAdjustment="GMT-06:00" useDaylightTime="1" >(GMT-06:00) Central Time (US & Canada)</option>
              <option value="12" gmtAdjustment="GMT-06:00" useDaylightTime="1" >(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
              <option value="13" gmtAdjustment="GMT-06:00" useDaylightTime="0" >(GMT-06:00) Saskatchewan</option>
              <option value="14" gmtAdjustment="GMT-05:00" useDaylightTime="0" >(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
              <option value="15" gmtAdjustment="GMT-05:00" useDaylightTime="1" >(GMT-05:00) Eastern Time (US & Canada)</option>
              <option value="16" gmtAdjustment="GMT-05:00" useDaylightTime="1" >(GMT-05:00) Indiana (East)</option>
              <option value="17" gmtAdjustment="GMT-04:00" useDaylightTime="1" >(GMT-04:00) Atlantic Time (Canada)</option>
              <option value="18" gmtAdjustment="GMT-04:00" useDaylightTime="0" >(GMT-04:00) Caracas, La Paz</option>
              <option value="19" gmtAdjustment="GMT-04:00" useDaylightTime="0" >(GMT-04:00) Manaus</option>
              <option value="20" gmtAdjustment="GMT-04:00" useDaylightTime="1" >(GMT-04:00) Santiago</option>
              <option value="21" gmtAdjustment="GMT-03:30" useDaylightTime="1" >(GMT-03:30) Newfoundland</option>
              <option value="22" gmtAdjustment="GMT-03:00" useDaylightTime="1" >(GMT-03:00) Brasilia</option>
              <option value="23" gmtAdjustment="GMT-03:00" useDaylightTime="0" >(GMT-03:00) Buenos Aires, Georgetown</option>
              <option value="24" gmtAdjustment="GMT-03:00" useDaylightTime="1" >(GMT-03:00) Greenland</option>
              <option value="25" gmtAdjustment="GMT-03:00" useDaylightTime="1" >(GMT-03:00) Montevideo</option>
              <option value="26" gmtAdjustment="GMT-02:00" useDaylightTime="1" >(GMT-02:00) Mid-Atlantic</option>
              <option value="27" gmtAdjustment="GMT-01:00" useDaylightTime="0" >(GMT-01:00) Cape Verde Is.</option>
              <option value="28" gmtAdjustment="GMT-01:00" useDaylightTime="1" >(GMT-01:00) Azores</option>
              <option value="29" gmtAdjustment="GMT+00:00" useDaylightTime="0" >(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
              <option value="30" gmtAdjustment="GMT+00:00" useDaylightTime="1" >(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
              <option value="31" gmtAdjustment="GMT+01:00" useDaylightTime="1" >(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
              <option value="32" gmtAdjustment="GMT+01:00" useDaylightTime="1" >(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
              <option value="33" gmtAdjustment="GMT+01:00" useDaylightTime="1" >(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
              <option value="34" gmtAdjustment="GMT+01:00" useDaylightTime="1" >(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
              <option value="35" gmtAdjustment="GMT+01:00" useDaylightTime="1" >(GMT+01:00) West Central Africa</option>
              <option value="36" gmtAdjustment="GMT+02:00" useDaylightTime="1" >(GMT+02:00) Amman</option>
              <option value="37" gmtAdjustment="GMT+02:00" useDaylightTime="1" >(GMT+02:00) Athens, Bucharest, Istanbul</option>
              <option value="38" gmtAdjustment="GMT+02:00" useDaylightTime="1" >(GMT+02:00) Beirut</option>
              <option value="39" gmtAdjustment="GMT+02:00" useDaylightTime="1" >(GMT+02:00) Cairo</option>
              <option value="40" gmtAdjustment="GMT+02:00" useDaylightTime="0" >(GMT+02:00) Harare, Pretoria</option>
              <option value="41" gmtAdjustment="GMT+02:00" useDaylightTime="1" >(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
              <option value="42" gmtAdjustment="GMT+02:00" useDaylightTime="1" >(GMT+02:00) Jerusalem</option>
              <option value="43" gmtAdjustment="GMT+02:00" useDaylightTime="1" >(GMT+02:00) Minsk</option>
              <option value="44" gmtAdjustment="GMT+02:00" useDaylightTime="1" >(GMT+02:00) Windhoek</option>
              <option value="45" gmtAdjustment="GMT+03:00" useDaylightTime="0" >(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
              <option value="46" gmtAdjustment="GMT+03:00" useDaylightTime="1" >(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
              <option value="47" gmtAdjustment="GMT+03:00" useDaylightTime="0" >(GMT+03:00) Nairobi</option>
              <option value="48" gmtAdjustment="GMT+03:00" useDaylightTime="0" >(GMT+03:00) Tbilisi</option>
              <option value="49" gmtAdjustment="GMT+03:30" useDaylightTime="1" >(GMT+03:30) Tehran</option>
              <option value="50" gmtAdjustment="GMT+04:00" useDaylightTime="0" >(GMT+04:00) Abu Dhabi, Muscat</option>
              <option value="51" gmtAdjustment="GMT+04:00" useDaylightTime="1" >(GMT+04:00) Baku</option>
              <option value="52" gmtAdjustment="GMT+04:00" useDaylightTime="1" >(GMT+04:00) Yerevan</option>
              <option value="53" gmtAdjustment="GMT+04:30" useDaylightTime="0" >(GMT+04:30) Kabul</option>
              <option value="54" gmtAdjustment="GMT+05:00" useDaylightTime="1" >(GMT+05:00) Yekaterinburg</option>
              <option value="55" gmtAdjustment="GMT+05:00" useDaylightTime="0" >(GMT+05:00) Islamabad, Karachi, Tashkent</option>
              <option value="56" gmtAdjustment="GMT+05:30" useDaylightTime="0" >(GMT+05:30) Sri Jayawardenapura</option>
              <option value="58" gmtAdjustment="GMT+05:45" useDaylightTime="0" >(GMT+05:45) Kathmandu</option>
              <option value="59" gmtAdjustment="GMT+06:00" useDaylightTime="1" >(GMT+06:00) Almaty, Novosibirsk</option>
              <option value="60" gmtAdjustment="GMT+06:00" useDaylightTime="0" >(GMT+06:00) Astana, Dhaka</option>
              <option value="61" gmtAdjustment="GMT+06:30" useDaylightTime="0" >(GMT+06:30) Yangon (Rangoon)</option>
              <option value="62" gmtAdjustment="GMT+07:00" useDaylightTime="0" >(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
              <option value="63" gmtAdjustment="GMT+07:00" useDaylightTime="1" >(GMT+07:00) Krasnoyarsk</option>
              <option value="64" gmtAdjustment="GMT+08:00" useDaylightTime="0" >(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
              <option value="65" gmtAdjustment="GMT+08:00" useDaylightTime="0" >(GMT+08:00) Kuala Lumpur, Singapore</option>
              <option value="66" gmtAdjustment="GMT+08:00" useDaylightTime="0" >(GMT+08:00) Irkutsk, Ulaan Bataar</option>
              <option value="67" gmtAdjustment="GMT+08:00" useDaylightTime="0" >(GMT+08:00) Perth</option>
              <option value="68" gmtAdjustment="GMT+08:00" useDaylightTime="0" >(GMT+08:00) Taipei</option>
              <option value="69" gmtAdjustment="GMT+09:00" useDaylightTime="0" >(GMT+09:00) Osaka, Sapporo, Tokyo</option>
              <option value="70" gmtAdjustment="GMT+09:00" useDaylightTime="0" >(GMT+09:00) Seoul</option>
              <option value="71" gmtAdjustment="GMT+09:00" useDaylightTime="1" >(GMT+09:00) Yakutsk</option>
              <option value="72" gmtAdjustment="GMT+09:30" useDaylightTime="0" >(GMT+09:30) Adelaide</option>
              <option value="73" gmtAdjustment="GMT+09:30" useDaylightTime="0" >(GMT+09:30) Darwin</option>
              <option value="74" gmtAdjustment="GMT+10:00" useDaylightTime="0" >(GMT+10:00) Brisbane</option>
              <option value="75" gmtAdjustment="GMT+10:00" useDaylightTime="1" >(GMT+10:00) Canberra, Melbourne, Sydney</option>
              <option value="76" gmtAdjustment="GMT+10:00" useDaylightTime="1" >(GMT+10:00) Hobart</option>
              <option value="77" gmtAdjustment="GMT+10:00" useDaylightTime="0" >(GMT+10:00) Guam, Port Moresby</option>
              <option value="78" gmtAdjustment="GMT+10:00" useDaylightTime="1" >(GMT+10:00) Vladivostok</option>
              <option value="79" gmtAdjustment="GMT+11:00" useDaylightTime="1" >(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
              <option value="80" gmtAdjustment="GMT+12:00" useDaylightTime="1" >(GMT+12:00) Auckland, Wellington</option>
              <option value="81" gmtAdjustment="GMT+12:00" useDaylightTime="0" >(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
              <option value="82" gmtAdjustment="GMT+13:00" useDaylightTime="0" >(GMT+13:00) Nuku'alofa</option>
            </select>
    		  </div>


          <div>
            <div class="input-field" style="margin-top: 25px;">
            <input type="password" placeholder="Password *" class="pass1"  ng-model="passwordtxt" name="passwordtxt" id="password" autocomplete="off" required>
            <div class="password-validation">
              <ul>
                <li id="length" class="clearfix" ng-class="{'valid': validatePassword('length') }"><i class="fa fa-check-circle" style="margin-right: 10px;"></i>Password must be atleast 6 characters long.</li>
                <li id="capital" class="clearfix" ng-class="{'valid': validatePassword('capital') }"><i class="fa fa-check-circle" style="margin-right: 10px;"></i>Password must contain atleast one uppercase character.</li>
                <li id="lowercase" class="clearfix" ng-class="{'valid': validatePassword('lowercase') }"><i class="fa fa-check-circle" style="margin-right: 10px;"></i>Password must contain atleast one lowercase character.</li>
                <li id="number" class="clearfix" ng-class="{'valid': validatePassword('number') }"><i class="fa fa-check-circle" style="margin-right: 10px;"></i>Password must contain atleast one numeric character.</li>
              </ul>
            </div>
          </div>
          <div class="input-field" class="confirm-password">
            <input type="password" placeholder="Confirm Password *" ng-model="repeatpassword" name="repeatpassword" required>
          </div>
          </div>
          <div
                  vc-recaptcha
                  theme="'light'"
                  key="model.key"
                  on-create="setWidgetId(widgetId)"
                  on-success="setResponse(response)"
                  on-expire="cbExpiration()"
                  ></div>
               

          <div class="bs-callout-danger bg-lighten-3 callout-border-left mt-1 pad-1" ng-if="error!=''" style="font-weight: 300; font-size: 13px; color: black;">
            <p style="margin:0px;"> {{ error }} </p>
         </div>
		    
          <div class="form-cta m-t-2 m-b-2">
            <button id="submit" type="submit" ng-class="{'disabled': requested}" class="btn btn-primary btn-lg z-depth-1  align-items-center center-align" style="font-size: 15px; font-weight: 600; letter-spacing: -0.18px; width: 200px;">
              Create My Account
            </button>
          </div>
      
        </div>
      
        <p class="text-muted small font-medium text-xs-center m-b-0">
          By clicking this button, you agree to the visualAI<br><a href="" target="_blank">Terms of Service</a> and <a href="" target="_blank">Privacy Policy</a>
        </p>
      </form>
    
      <div class="visualai-signup-msg" ng-show="registerationsuccess">
        <p class="vai-signup-head">Registration Complete</p>
        <div class="vai-bar"></div>
        <p style="font-size: 17px;">Check your email to activate your account. <br />In the email is a link you can click to activate your account. The link will go to the service you registered for.</p>
      </div>
   
    </div>
  </div>
</div>

<script src="https://www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>



