<div class="main">
    <div class="logo ssp-400"><a ng-href="#/"><img src="images/logo.png" class="logo-img"></a></div>
    <div class="nav">
      <a ng-href="#/about" class="ssp-600 link-default" style="font-size: 18px;">About Us</a>
      <!--<a href="#/team" class="ssp-600 link-default" style="font-size: 18px;">Team</a>-->
    </div>
      <div class="about-team">
        <p class="ssp-200" style="font-size: 50px; color: #445a64;">Team</p>
        <div class="team-photos">

            <div class="card-wrapper">
                <div class="card">
                    <img src="images/sar.jpeg" class="img-mob" width="150px" height="200px;">
                </div>
                <div class="card-info">
                    <span class="ssp-400" style="color: black; font-size: 21px">Saransh Barua</span>
                    <span class="ssp-300" style="font-size: 15px;">Frontend Developer</span>
                </div>
            </div>

            <div class="card-wrapper">
                <div class="card">
                    <img src="images/sar.jpeg" class="img-mob" width="150px" height="200px;">
                </div>
                <div class="card-info">
                    <span class="ssp-400" style="color: black; font-size: 21px">Saransh Barua</span>
                    <span class="ssp-300" style="font-size: 15px;">Frontend Developer</span>
                </div>
            </div>

            <div class="card-wrapper">
                <div class="card">
                    <img src="images/sar.jpeg" class="img-mob" width="150px" height="200px;">
                </div>
                <div class="card-info">
                    <span class="ssp-400" style="color: black; font-size: 21px">Saransh Barua</span>
                    <span class="ssp-300" style="font-size: 15px;">Frontend Developer</span>
                </div>
            </div>

            <div class="card-wrapper">
                <div class="card">
                    <img src="images/sar.jpeg" class="img-mob" width="150px" height="200px;">
                </div>
                <div class="card-info">
                    <span class="ssp-400" style="color: black; font-size: 21px">Saransh Barua</span>
                    <span class="ssp-300" style="font-size: 15px;">Frontend Developer</span>
                </div>
            </div>

            <div class="card-wrapper">
                <div class="card">
                    <img src="images/sar.jpeg" class="img-mob" width="150px" height="200px;">
                </div>
                <div class="card-info">
                    <span class="ssp-400" style="color: black; font-size: 21px">Saransh Barua</span>
                    <span class="ssp-300" style="font-size: 15px;">Frontend Developer</span>
                </div>
            </div>

            <div class="card-wrapper">
                <div class="card">
                    <img src="images/sar.jpeg" class="img-mob" width="150px" height="200px;">
                </div>
                <div class="card-info">
                    <span class="ssp-400" style="color: black; font-size: 21px">Saransh Barua</span>
                    <span class="ssp-300" style="font-size: 15px;">Frontend Developer</span>
                </div>
            </div>

            <div class="card-wrapper">
                <div class="card">
                    <img src="images/sar.jpeg" class="img-mob" width="150px" height="200px;">
                </div>
                <div class="card-info">
                    <span class="ssp-400" style="color: black; font-size: 21px">Saransh Barua</span>
                    <span class="ssp-300" style="font-size: 15px;">Frontend Developer</span>
                </div>
            </div>

            <div class="card-wrapper">
                <div class="card">
                    <img src="images/sar.jpeg" class="img-mob" width="150px" height="200px;">
                </div>
                <div class="card-info">
                    <span class="ssp-400" style="color: black; font-size: 21px">Saransh Barua</span>
                    <span class="ssp-300" style="font-size: 15px;">Frontend Developer</span>
                </div>
            </div>

            <div class="card-wrapper">
                <div class="card">
                    <img src="images/sar.jpeg" class="img-mob" width="150px" height="200px;">
                </div>
                <div class="card-info">
                    <span class="ssp-400" style="color: black; font-size: 21px">Saransh Barua</span>
                    <span class="ssp-300" style="font-size: 15px;">Frontend Developer</span>
                </div>
            </div>

            

        </div>
    </div>
</div>

